:root {
  --clr-red: #a01818;
  --clr-grey: #333333;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */
* {
  margin: 0;
  padding: 0;
  font: inherit;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* dark mode user-agent-styles */
html {
  color-scheme: dark light;
}

/* min body height */
body {
  min-height: 100vh;
}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

/* make headings wrap better */
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

ul,
ol {
  list-style: none;
}

p,
li,
figcaption {
  text-wrap: pretty;
  /* max-width: 55ch; */
}

/*** Utilities ***/

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.songs-container .song-container.active .song-name {
  color: rgb(64, 221, 64);
}

body {
  display: grid;
  grid-template-rows: auto auto 1fr 6rem;
  gap: 1rem;
}

h1 {
  background-color: #232222;
  text-align: center;
  font-size: 3rem;
  padding: 0.5rem;
}

#song-search {
  background-color: var(--clr-grey);
  height: 3rem;
  margin-bottom: 0;
  padding-left: 1rem;
  border-radius: 2rem;
  border: none;
  margin-inline: 1rem;
}

/* .songs-container {
  background-color: teal;
} */

.song-container {
  padding-inline: 0.5rem;
  padding-block: 0.5rem;
  margin-inline: 0.5rem;
  border-radius: 5px;
  border: solid 1px transparent;
  display: grid;
  grid-template-columns: auto auto 1fr;

  &:hover {
    background-color: #333333;
    cursor: pointer;
  }

  .song-duration {
    display: flex;
    align-items: center;
    justify-self: end;
  }
}

.song-artwork {
  width: 3rem;
  height: 3rem;
  border-radius: 5px;
  margin-right: 0.5rem;
}

.name-and-track-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1rem;

  .song-name {
    font-size: 1.2rem;
    font-weight: 400;
  }

  .artist-name {
    color: #b4b4b4;
  }
}

footer {
  background-color: black;
  display: grid;
  position: sticky;
  bottom: 0;
  height: auto;
  grid-template-columns: repeat(3, 1fr);

  .music-settings,
  .music-current-song {
    display: grid;
    place-items: center;
    padding: 1rem;
  }

  .music-current-song {
    display: flex;
  }

  .music-player-controls {
    align-self: center;
    justify-content: center;
    display: flex;
    gap: 3rem;

    button {
      background-color: transparent;
      border-radius: 50%;
      padding: 0.5rem;
      filter: brightness(50%);
      transition: all 0.2s ease;
      &:hover {
        cursor: pointer;
        transform: scale(1.1);
        filter: brightness(100%);
      }
    }
  }
}
